.addtocart{
    border:1px solid grey;
    padding:4px 14px;
    /* font-size: 1.7rem; */
    background-color: #ef4478;
    color: white;
    text-transform: uppercase;
    margin: 5px 0;
    font-weight: 400;
    font-family: verdana;
    border-radius: 50px;
    cursor: pointer;
    /* text-shadow: white; */
    transition: all 300ms ease-in-out;
}

.addtocart:hover{
    background-color: yellow;
    color: black;
}

.cart{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.remove-and-wish{
    font-size: 0.8rem;
    margin-bottom: 0;
}

.price_money{
    font-size: 1rem;
    font-weight: 600;
}